<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.authentication.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.authentication.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>controller.account.CreateAccountByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.account.DeleteAccountByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountByAdmin</servlet-name>
        <servlet-class>controller.account.UpdateAccountByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListAccount</servlet-name>
        <servlet-class>controller.account.ViewListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.home.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeStudent</servlet-name>
        <servlet-class>controller.home.HomeStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLecture</servlet-name>
        <servlet-class>controller.home.HomeLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.home.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountByStudent</servlet-name>
        <servlet-class>controller.account.UpdateAccountByStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTopic</servlet-name>
        <servlet-class>controller.topic.CreateTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupByLecture</servlet-name>
        <servlet-class>controller.group.CreateGroupByLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopic</servlet-name>
        <servlet-class>controller.topic.DeleteTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListTopic</servlet-name>
        <servlet-class>controller.topic.ViewListTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupByLecture</servlet-name>
        <servlet-class>controller.group.DeleteGroupByLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupByAdmin</servlet-name>
        <servlet-class>controller.group.DeleteGroupByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListGroupForAdmin</servlet-name>
        <servlet-class>controller.group.ViewListGroupForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnedGroupForLecture</servlet-name>
        <servlet-class>controller.group.ViewOwnedGroupForLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAnswerQuestionController</servlet-name>
        <servlet-class>controller.test.ViewAnswerQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultTestStudent</servlet-name>
        <servlet-class>controller.test.ViewResultTestStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentByname</servlet-name>
        <servlet-class>controller.test.SearchStudentByname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultExamOfStudent</servlet-name>
        <servlet-class>controller.test.ViewResultExamOfStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeWelcome</servlet-name>
        <servlet-class>controller.home.HomeWelcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupInviteCode</servlet-name>
        <servlet-class>controller.group.CreateGroupInviteCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupInviteCode</servlet-name>
        <servlet-class>controller.group.DeleteGroupInviteCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGroupForStudent</servlet-name>
        <servlet-class>controller.group.JoinGroupForStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnenrollGroupForStudent</servlet-name>
        <servlet-class>controller.group.UnenrollGroupForStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroupDetailForStudent</servlet-name>
        <servlet-class>controller.group.ViewGroupDetailForStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoExamForStudent</servlet-name>
        <servlet-class>controller.test.DoExamForStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetail</servlet-name>
        <servlet-class>controller.userdetail.UserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLectureComment</servlet-name>
        <servlet-class>controller.comment.UpdateLectureComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExamByLecture</servlet-name>
        <servlet-class>controller.test.CreateExamByLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroupDetailForLecture</servlet-name>
        <servlet-class>controller.group.ViewGroupDetailForLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateExamResults</servlet-name>
        <servlet-class>controller.test.CalculateExamResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListGroupForExam</servlet-name>
        <servlet-class>controller.test.ViewListGroupForExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.authentication.ChangePasswordForLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordForStudent</servlet-name>
        <servlet-class>controller.authentication.ChangePasswordForStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>controller.authentication.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>controller.authentication.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtpForRegister</servlet-name>
        <servlet-class>controller.authentication.ValidateOtpForRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListStudentForLecture</servlet-name>
        <servlet-class>controller.account.ViewListStudentForLecture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStudent</servlet-name>
        <url-pattern>/homeStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLecture</servlet-name>
        <url-pattern>/homeLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountByStudent</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListAccount</servlet-name>
        <url-pattern>/admin/account-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountByAdmin</servlet-name>
        <url-pattern>/admin/account-management/update-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/admin/account-management/delete-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/admin/account-management/create-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupByAdmin</servlet-name>
        <url-pattern>/admin/group-management/delete-group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListTopic</servlet-name>
        <url-pattern>/admin/topic-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListGroupForAdmin</servlet-name>
        <url-pattern>/admin/group-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopic</servlet-name>
        <url-pattern>/admin/topic-management/delete-topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTopic</servlet-name>
        <url-pattern>/admin/topic-management/create-topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAnswerQuestionController</servlet-name>
        <url-pattern>/show-result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultTestStudent</servlet-name>
        <url-pattern>/view-list-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentByname</servlet-name>
        <url-pattern>/search-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultExamOfStudent</servlet-name>
        <url-pattern>/view-total</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnedGroupForLecture</servlet-name>
        <url-pattern>/group-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeWelcome</servlet-name>
        <url-pattern>/default</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupInviteCode</servlet-name>
        <url-pattern>/group-management/create-invite-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupByLecture</servlet-name>
        <url-pattern>/group-management/delete-group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupByLecture</servlet-name>
        <url-pattern>/group-management/create-group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupInviteCode</servlet-name>
        <url-pattern>/group-management/delete-invite-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGroupForStudent</servlet-name>
        <url-pattern>/join-group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnenrollGroupForStudent</servlet-name>
        <url-pattern>/unenroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroupDetailForStudent</servlet-name>
        <url-pattern>/viewGroupDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoExamForStudent</servlet-name>
        <url-pattern>/take-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetail</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLectureComment</servlet-name>
        <url-pattern>/update-lecture-comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExamByLecture</servlet-name>
        <url-pattern>/create-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroupDetailForLecture</servlet-name>
        <url-pattern>/viewGroupDetailForLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListGroupForExam</servlet-name>
        <url-pattern>/show-list-group-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateExamResults</servlet-name>
        <url-pattern>/result-after-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/change-password-lecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordForStudent</servlet-name>
        <url-pattern>/change-password-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/validateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/new-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtpForRegister</servlet-name>
        <url-pattern>/validate-otp-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListStudentForLecture</servlet-name>
        <url-pattern>/show-result-test-list-student</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
