
body {
    margin: auto auto;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
}

/* Container styles */
.container {
    position: relative;
    background-color: #fefefe;
    padding: 20px 0 30px 0;
    justify-content: center;
}

/* Input and button styles */
input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover,
.btn:hover {
    opacity: 1;
}

/* Submit button styles */
input[type=submit] {
    background-color: #000000;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
}

/* Two-column layout */
.col {
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Bottom container styles */
.bottom-container {
    margin: auto;
    text-align: center;
    background-color: #ffffff;
}

/* Responsive layout */
@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add background color on focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Button styles */
button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Cancel button styles */
.cancelbtn {
    padding: 14px 20px;
    background-color: white;
}

/* Float cancel and signup buttons and add equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Container padding */
.container2 {
    padding: 16px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 50px;
}

/* Modal Content/Box styles */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

/* Horizontal ruler styles */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Close Button styles */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive styles for small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
