body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #666;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    margin-bottom: 10px;
}

.options {
    margin-bottom: 20px;
}

.option {
    margin-bottom: 10px;
}

.option label {
    display: block;
    cursor: pointer;
}

.option input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

.correct {
    color: red;
    font-weight: bold;
}

.correct::after {
    content: ' ✔';
    color: green;
}

.detailed-answer {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.detailed-answer p {
    margin: 0;
}

.show-answer {
    cursor: pointer;
    color: blue;
}

.back-btn {
    text-align: center;
    margin-top: 20px;
}

.back-btn a {
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-btn a:hover {
    background-color: #0056b3;
}
